In [24]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
import pandas as pd
from sklearn.model_selection import train_test_split

In [25]:
df = pd.read_csv("MappedMatrix.csv")

In [26]:
df

,30N,32I,46I,46L,47A,47V,48A,48S,48T,48Q,...,82M,82T,82S,84A,84C,84V,88S,88T,88G,90M
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
280,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
281,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
282,0,1,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
283,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [27]:
raw = pd.read_csv("CleanedHIVDataset.csv")
raw

,Mutation 1,Mutation 2,Mutation 3,Mutation 4,Mutation 5,Mutation 6,Mutation 7,NFV,SQV,IDV,FPV,ATV,LPV,TPV,DRV
0,90M,NaN,NaN,NaN,NaN,NaN,NaN,7.3,3.2,3.1,1.3,3.1,1.6,1.2,0.9
1,30N,NaN,NaN,NaN,NaN,NaN,NaN,40.0,1.3,1.3,0.8,2.5,1.0,1.2,1.0
2,46I,90M,NaN,NaN,NaN,NaN,NaN,22.0,4.2,9.1,3.2,4.9,2.7,0.9,0.8
3,46I,NaN,NaN,NaN,NaN,NaN,NaN,11.0,0.9,4.4,2.1,2.2,2.7,1.1,0.8
4,54V,82A,90M,NaN,NaN,NaN,NaN,57.0,27.0,24.0,3.6,36.0,39.0,2.4,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,32I,46L,47V,54V,90M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
821,48V,50V,54A,82T,NaN,NaN,NaN,29.0,1000.0,97.0,6.1,17.0,118.0,0.6,2.2
822,46L,48V,54T,82T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
823,48V,54V,82C,84V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
824,46I,47V,54A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
nfv_output_wnulls = raw['NFV'].copy()
nfv_output_wnulls = pd.DataFrame(nfv_output_wnulls)
nfv_output_wonulls=nfv_output_wnulls.dropna()
nfv_output_wonulls

       NFV
0      7.3
1     40.0
2     22.0
3     11.0
4     57.0
..     ...
791   44.0
805  133.0
812    7.2
813    8.3
821   29.0

[284 rows x 1 columns]

In [29]:
x_train, x_test, y_train, y_test = train_test_split(df, nfv_output_wonulls,test_size=0.9,random_state=42)
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train,test_size=0.1,random_state=42)

In [30]:
model = Sequential()
model.add(Dense(150,input_dim = 36,activation="relu"))
model.add(Dense(150,activation="relu")) 
model.add(Dense(150,activation="relu")) 
model.add(Dense(150,activation="relu")) 
model.add(Dense(150,activation="relu")) 
model.add(Dense(150,activation="relu")) 
model.add(Dense(150,activation="relu")) 
model.add(Dense(150,activation="relu")) 


model.add(Dense(1,activation = "linear"))
model.compile(optimizer='adam',loss="mean_absolute_error", metrics=["mean_absolute_error"])
model.fit(x_train.values,y_train.values, validation_data= (x_val,y_val),epochs=10,batch_size=64)

Epoch 1/10
1/1 [==============================] - 2s 2s/step - loss: 59.0241 - mean_absolute_error: 59.0241 - val_loss: 55.9904 - val_mean_absolute_error: 55.9904
Epoch 2/10
1/1 [==============================] - 0s 67ms/step - loss: 58.9415 - mean_absolute_error: 58.9415 - val_loss: 55.8735 - val_mean_absolute_error: 55.8735
Epoch 3/10
1/1 [==============================] - 0s 49ms/step - loss: 58.8268 - mean_absolute_error: 58.8268 - val_loss: 55.6951 - val_mean_absolute_error: 55.6951
Epoch 4/10
1/1 [==============================] - 0s 47ms/step - loss: 58.6532 - mean_absolute_error: 58.6532 - val_loss: 55.4261 - val_mean_absolute_error: 55.4261
Epoch 5/10
1/1 [==============================] - 0s 52ms/step - loss: 58.3994 - mean_absolute_error: 58.3994 - val_loss: 55.0219 - val_mean_absolute_error: 55.0219
Epoch 6/10
1/1 [==============================] - 0s 95ms/step - loss: 58.0261 - mean_absolute_error: 58.0261 - val_loss: 54.4219 - val_mean_absolute_error: 54.4219
Epoch 7/10
1/1 [==============================] - 0s 103ms/step - loss: 57.5267 - mean_absolute_error: 57.5267 - val_loss: 53.5436 - val_mean_absolute_error: 53.5436
Epoch 8/10
1/1 [==============================] - 0s 72ms/step - loss: 56.8033 - mean_absolute_error: 56.8033 - val_loss: 52.2802 - val_mean_absolute_error: 52.2802
Epoch 9/10
1/1 [==============================] - 0s 74ms/step - loss: 55.8547 - mean_absolute_error: 55.8547 - val_loss: 50.4370 - val_mean_absolute_error: 50.4370
Epoch 10/10
1/1 [==============================] - 0s 59ms/step - loss: 54.6895 - mean_absolute_error: 54.6895 - val_loss: 48.3688 - val_mean_absolute_error: 48.3688

In [31]:
result = model.evaluate(x_test.values,y_test.values)
for i in range(len(model.metrics_names)):
    print("Metric ",model.metrics_names[i],":",str(round(result [i],2)))

8/8 [==============================] - 0s 7ms/step - loss: 78.0272 - mean_absolute_error: 78.0272
Metric  loss : 78.03
Metric  mean_absolute_error : 78.03